<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="main">
      <div id="nav_bar_top"><!--상단 네비게이션바-->
        <img src="" alt="logo">
      </div>
      <div id="tag_bar"><!--상단 tag-->
        <p class="tag"><a href="#">#ex</a></p>
      </div>
      <div id="img_wrapper"><!--이미지 래퍼-->
        <div class="img_block"><!--이미지 들어가는 칸-->
          <img src="" alt="img">
          <div class="tag_bar_sub"><!--이미지내부 tag-->

          </div>
        </div>
      </div>
      <div id="nav_bar_bottom">

      </div>
    </div>
  </body>
</html>
