{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>메인페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Rock+3D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div id="main">

    <div id="nav_bar_top"><!--상단 네비게이션바-->
        <div class="logo">Travel Alone</div>
        <ul class="nav_bar_right">
            <li class="nav_bar_r_item">
                <span class="nav_item">
                    {{ user.username }} 님 안녕하세요!
                </span>
            </li>
            <li class="nav_bar_r_item">
                <a class="nav-link" href="/logout"> 로그아웃 </a>
            </li>
        </ul>

    </div><!--상단 네비게이션바 끝-->

    <div id="tag_set_bar"><!--유저 태그 설정-->
        <div id="tag_set_wrapper"><!--설정한 태그를 여기서 표시-->
            <p>{{ user.username }}님의 태그</p>
            {% for i in tags %}
                <span class="user_tag">#{{ i }}</span>
            {% endfor %}
            <br><br>
        </div>
        <button id="tag_set_btn" onclick="location.href='/tags'"> 태그 추가 </button>
    </div>
    <div class="tag_bar"><!--tag별 여행지 리스트-->
        <hr><!--임시공백-->
        <div class="tag_item">
            <p class="tag">#추천</p>
        </div>

        <div class="place_item_wrapper">
            {% for i in recommend_list %}
                <div class="place_item"><!--이미지 들어가는 칸-->
                    <a href="/info/{{ i.id }}">
                        <img src="{{ i.images }}" alt="img" onerror="this.src='{% static 'white.png' %}'">
                        <p>{{ i.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr><!--임시공백-->
    </div><!--tag별 여행지 리스트 끝-->

    {% for p_tag in prefer_tags %}
    <div class="tag_bar for"><!--tag별 여행지 리스트-->
        <hr><!--임시공백-->
        <div class="tag_item">
            <p class="tag"></p>
        </div>
        <div class="place_item_wrapper">
            {% for i in p_tag %}
                <div class="place_item"><!--이미지 들어가는 칸-->
                    <a href="/info/{{ i.id }}">
                        <img src="{{ i.images }}" alt="img" onerror="this.src='{% static 'white.png' %}'">
                        <p>{{ i.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr><!--임시공백-->
    </div>
    {% endfor %}

    
    <div class="tag_bar"><!--tag별 여행지 리스트-->
        <hr><!--임시공백-->
        <div class="tag_item">
            <p class="tag">#인기</p>
        </div>

        <div class="place_item_wrapper">
            {% for i in popular_list %}
                <div class="place_item"><!--이미지 들어가는 칸-->
                    <a href="/info/{{ i.id }}">
                        <img src="{{ i.images }}" alt="img" onerror="this.src='{% static 'white.png' %}'">
                        <p>{{ i.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr><!--임시공백-->
    </div><!--tag별 여행지 리스트 끝-->

</div>
<script>
    const tags = document.querySelectorAll("#tag_set_wrapper span")
    const fors = document.querySelectorAll(".for")

    for (let i = 0; i < tags.length; i++) {
        let txt = tags[i].innerHTML
        let title = fors[i].querySelector(".tag")
        console.log(txt)
        title.innerHTML = txt
    }
</script>
</body>
</html>
