<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    {#    <link#}
    {#            href="../Team6_TravelAlone/common.css"#}
    {#            rel="stylesheet" type="text/css"#}
    {#    />#}
    {#    <link#}
    {#            href="../Team6_TravelAlone/index.css"#}
    {#            rel="stylesheet" type="text/css"#}
    {#    />#}
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Rock+3D&display=swap" rel="stylesheet">

    <script src="index.js">
    </script>
    <style>
        .logo {
            font-family: 'Rock 3D', cursive;
            font-size: 40px;
            font-weight: bold;
            color: black;
            display: flex;
            align-items: center;
            max-width: 200px;
            margin: 100px auto 100px;
            text-align: center;
            /*background-color: #fafafa;*/
        }

        p {
            font-family: 'Gamja Flower', cursive;
            align-self: center;
            font-size: 15px;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="logo">Travel Alone</div>
    <p>혼자 힙하게 여행하는거 알려줘?</p>
    <div class="button_sign">
        <button type="button" class="btn_sign_in" onclick="location.href='sign_in.html'">Sign in</button>
        <button type="button" class="btn_sign_up" onclick="location.href='sign_up.html'">Sign up</button>
    </div>
</div>
</body>
</html>