<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign_up</title>
    <link
            href="../Team6_TravelAlone/common.css"
            rel="stylesheet" type="text/css"
    />
    <link
            href="../Team6_TravelAlone/sign_up.css"
            rel="stylesheet" type="text/css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Rock+3D&display=swap" rel="stylesheet">

    <script src="sign_up.js">
    </script>

  </head>
  <body>
    <div class="container">
      <div class="logo">Travel Alone</div>
      <input type="text" class="input_sign_up" name="userName" id="userName" placeholder="Name">
      <input type="text" class="input_sign_up" name="userEmail" id="userEmail" placeholder="Email">
      <input type="text" class="input_sign_up" name="userID" id="userID" placeholder="ID">
      <input type="password" class="input_sign_up" name="userPW" id="userPW" placeholder="PW">
      <a href="#none"><button id="btn_sign_up" disabled>Sign up</button></a>
      <span class="ReturnToMain" onclick="location.href='Index.html'">처음으로 돌아가기</span>
    </div>
    <script src="js/sign_up.js"></script>
  </body>
</html>