<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선호 태그 설정 페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Rock+3D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/tags.css">
    
</head>

<body>
    <div id="nav_bar_top"><!--상단 네비게이션바-->
        <a href="/" class="logo">Travel Alone</a>
        <ul class="nav_bar_right">
            <li class="nav_bar_r_item">
                <span class="nav_item">
                    {{ user.username }}
                </span>
            </li>
            <li class="nav_bar_r_item">
                <a class="nav-link" href="/logout"> 로그아웃 </a>
            </li>
        </ul>

    </div><!--상단 네비게이션바 끝-->
    <div class="container">
        <div class="header_container">
            <span>선호 태그 설정</span>
        </div>
        <div>
            <!-- {% for tag in tag_list %}
                <span>#{{ tag }}, </span> 
            {% endfor %} -->
        </div>
        <div class="tag_box">
            <button>#산</button>
            <button>#지층</button>
            <button>#산림</button>
            <button>#국립공원</button>
            <button>#하이킹 트레일</button>
            <button>#해변</button>
            <button>#동굴</button>            
            <button>#전문 박물관</button>            
            <button>#인근 지역</button>
            <button>#폭포</button>
            <button>#공원</button>
            <button>#역사박물관</button>
            <button>#화산</button>
            <button>#과학박물관</button>
            <button>#역사적인 장소</button>
        </div>
        <form id="tag_input" action="/tags/" method="post">
            {% csrf_token %}
            <input type="text" class="hide" id="tags" name="tags">
            <button class="submit"> 저장 </button>
        </form>
        <ul class="hide" id="origin_tags">
            {% for tag in tag_list %}
            <li>#{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="/static/js/tags.js"></script>

</body>

</html>
